<!DOCTYPE html>
<html>
  <head>
    <title>DevExam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
      <% if action_name == "index" %>
      <%= '一覧' %>
      <% elsif action_name == "show" %>
      <%= '閲覧' %>
      <% elsif action_name == "new" %>
      <%= '登録' %>
      <% elsif action_name == "edit" %>
      <%= '編集' %>
      <% end %>
      </h1>
    </header>
    <%= yield %>
  </body>
</html>
